Repository SonamChugh13/OpenTracks-Group3-SOEN-6431_2024, pull requests merged in 2024-04, with the labels that each got.

#21 Add ski profile subsection
  src/main/res/values/settings.xml
  src/main/res/values/strings.xml
  src/main/res/xml/settings.xml
Labels: enhancement, Group 3, Ski Profile, UI, High Priority

#23 Added name and phone number for ski profile screen
  build.gradle
  src/main/java/de/dennisguse/opentracks/settings/UserProfileSettingsFragment.java
  src/main/res/values/strings.xml
  src/main/res/xml/settings_ski_profile.xml
Labels: enhancement, Group 3, Ski Profile, UI, Medium Priority

#24 Add and Edit Country and Province for ski resort for Favorite Ski Resort
  src/main/java/de/dennisguse/opentracks/settings/UserProfileSettingsFragment.java
  src/main/res/xml/settings_ski_profile.xml
Labels: enhancement, Group 3, Ski Profile, UI

#26 sharpening info
  src/main/java/de/dennisguse/opentracks/settings/SettingsActivity.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSettingsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSharpeningFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileStatisticsFragment.java
  src/main/res/values/arrays.xml
  src/main/res/values/strings.xml
  src/main/res/xml/fragment_ski_profile_sharpening_info.xml
  src/main/res/xml/settings_ski_profile.xml
Labels: enhancement, Group 3, Ski Profile, UI, Medium Priority

#28 Adding waxing information under ski profile
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSettingsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileWaxingFragment.java
  src/main/res/values/arrays.xml
  src/main/res/values/strings.xml
  src/main/res/xml/fragment_ski_profile_waxing_info.xml
  src/main/res/xml/settings_ski_profile.xml
Labels: Ski Profile

#34 Move Favorite Ski Resort to Dedicated Menu
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSettingsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileFavoriteSkiResortFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileMaintenanceFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileSharpeningFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileStatisticsFragment.java
  src/main/java/de/dennisguse/opentracks/settings/skiProfile/SkiProfileWaxingFragment.java
  src/main/res/values/strings.xml
  src/main/res/xml/fragment_ski_profile_favorite_ski_resort.xml
  src/main/res/xml/fragment_ski_profile_sharpening_info.xml
  src/main/res/xml/settings_ski_profile.xml
Labels: enhancement, Group 3, Ski Profile, UI, Medium Priority

#35 Remove commented out code
  src/main/java/de/dennisguse/opentracks/settings/SkiProfileSettingsFragment.java
Labels: enhancement, Group 3, Ski Profile, UI, Medium Priority
